<h1> COMMENTS </h1>

<a class="btn btn-primary mb-3" href="/home/comments/new" role="button">我要留言</a>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 5%"> </th>
        <th scope="col" style="width: 25%">某人</th>
        <th scope="col" style="width: 70%">說過</th>
      </tr>
    </thead>
    <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td> </td>
            <td><%= comment.name %></td>
            <td><%= comment.comment %></td>
          <tr>
        <% end %>
    </tbody>
</table>

