<html>
<body>

<form action="" method="get">
  <p><input type="text" name="school" size="10" />，你繼續留言，不論用本帳還粉絲團</p>
  <p>我會請<input type="text" name="pin"  size="18" />來當面與您討論一直留言的用意</p>
  <p>請自重</p>
  <input type="submit" value="Submit" />
</form>

</body>
</html>
