<div align='center'>
  <br/>
  <p>
  	<input type="text" id="school" size="18" />，你繼續留言，不論用本帳還粉絲團<br>
  	我會請<input type="text" id="who"  size="18" />來當面與您討論一直留言的用意<br>
  	請自重
  </p>
  <button type="button" class="btn btn-danger" onclick="publish()">產生</button>
  <script>
	function publish() {
    document.getElementById("result").innerHTML = document.getElementById("school").value + "，你繼續留言，不論用本帳還粉絲團<br>我會請" + document.getElementById("who").value + "來當面與您討論一直留言的用意<br>請自重" ;
	}
	</script>

    <p id="result"></p>
</div>
