
<html>
<body>
  <textarea rows="4" cols="50" id="in">
    輸入要抽籤的內容，每行一筆</textarea>
  <button onclick="go()">抽籤</button>
  <script>
	function go() {
    var lines = document.getElementById("in").value.split("\n");
    document.getElementById("result").innerHTML = lines[Math.floor(Math.random() * lines.length)];
	}
	</script>
  <br>
	<p id="result"></p>
</body>
</html>
