<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">曜多a練習</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          目錄
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/home/momo-gen" >隔壁校產生器</a>
          <a class="dropdown-item" href="/home/random"   >抽籤</a>
          <a class="dropdown-item" href="/home/game"     >快打遊戲</a>
          <a class="dropdown-item" href="/home/resume"   >自我介紹</a>
          <a class="dropdown-item" href="/home/comments" >留言板</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
